	<div class="file-picker">
		<img src="img/new-att-icon.png">
		<div class="hi-title" {{action "pickWithFilepicker"}}>
			Add a photo
		</div>
	</div>
{{#if openPicker}}
  {{ember-filepicker pickerOptions=pickerOptions onSelection='fileSelected' multiple=multiple onClose='onClose' onError='onError'}}
{{/if}}