<div class="property-show property-details">

  {{partial 'property/hero-header'}}


  <div class="property-map-container">
    <div class="property-map">
      <img src="img/map.png">
      <div class="property-address">
        {{model.address}}
      </div>
    </div>
  </div>

</div>