<div class="property-hero">
    <div class="property-hero-title">
      {{#link-to 'property.details' model.id}}
        <img src="img/back-icon.png" class="back-icon">
      {{/link-to}}

      {{#link-to 'property.show' model.id}}{{model.name}}{{/link-to}}
      <img src="img/clock-icon.png" class="clock-icon">
    </div>

    <div class="property-contact">
      <span class="detail">
        {{model.phone}}
      </span>

      <span class="detail">
        {{model.website}}
      </span>
    </div>

  </div>
