<div class="property-hero">
    <div class="property-hero-title">
      <img {{action "back" target="controllers.application"}} src="img/back-icon.png" class="back-icon">
      

      {{#link-to 'property.show' model.id classNames="name"}}{{model.address}}{{/link-to}}
      
    </div>

    <div class="property-subheading">
      <span class="detail left"> M2L 2G8</span>
      <span class="detail right"> Toronto, Ontario</span>

    </div>
    <div class="property-contact">
      <span class="detail left">
        {{#view 'tel-link'}}
          {{model.phone}}
        {{/view}}
      </span>

      <span class="detail right">
        <a class="external" target="_blank" href="{{unbound model.website}}">Visit website</a>
      </span>
    </div>

  </div>
