<div class="property-hero">
    <div class="property-hero-title">
      <img src="back-icon.png" class="back-icon">
      {{model.name}}
      <img src="clock-icon.png" class="clock-icon">
    </div>

    <div class="property-details">
      <span class="detail">
        {{model.phone}}
      </span>

      <span class="detail">
        {{model.website}}
      </span>
    </div>

    <div class="down-icon-cont">
      <img src="down-icon.png">
    </div>
  </div>
