<div class="property-show">
  <div class="property-hero">
    <div class="property-hero-title">
      <img src="back-icon.png" class="back-icon">
      {{model.name}}
      <img src="clock-icon.png" class="clock-icon">
    </div>

    <div class="property-details">
      <span class="detail">
        {{model.phone}}
      </span>

      <span class="detail">
        {{website}}
      </span>
    </div>

    <div class="down-icon-cont">
      <img src="down-icon.png">
    </div>
  </div>

  <div class="property-apps">

    <div class="app-card">
      <img src="menu-icon.png" class="app-icon">
      Leave Comment
    </div>

    <div class="app-card">
      <img src="pay-icon.png" class="app-icon">
      PAY
    </div>
  </div>

</div>