{{partial 'property/hero-header'}}


  <div class="down-icon-cont">
    <img src="down-icon.png">
  </div>

  <div class="property-show">

    <div class="property-apps">

      <div class="app-card">
        <img src="menu-icon.png" class="app-icon">
        Leave Comment
      </div>

      <div class="app-card">
        <img src="pay-icon.png" class="app-icon">
        PAY
      </div>
    </div>

  </div>