/* variables */

$prime: #48c8ab;
$dark: #0b132b;
$grey: #0b132b;
$lightestGrey: #eeeeee;
$lightGrey: #eaeaea;
$subGrey: #999999;
$menuGrey: #2e3031;

$white: #FFFFFF;
$black: #000000;

$highlightGrey: #3C3C3C;
$lineGrey: #939393;
$lightBlue: #90dfcd;

$translucentAqua: rgba(80, 196, 212, 0.8);

$headerHeight: 6em;
$leftBumper: 10px;

/* fonts */

@font-face {
  font-family: "Brandon Grotesque";
  src: url("fonts/brandon_grotesque.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Brandon Grotesque";
  src: url("fonts/brandon_grotesque_med.otf") format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* extension classes */

.uppercase-or-num {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ellipsize {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin border-radius($rad) {
  @mixin border-radius($rad) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
  }
}