.beacons-index {
  background-color: $white;
}

.beacon-listing {
  .listing {
    padding: 5px;
  }

  .name {
    padding: 5px 0px;
  }

  .microapp {
    margin: 5px;
    padding: 0px 4px;

    display: inline-block;

    border-width: 1px;
    border-color: $grey;
    border-style: solid;
    border-radius: 4px;
    height: 7.5px;
  }
}