.listpage-index {
  padding: 0 $leftBumper;
}

.listpage-listing {
  min-height: 70px;
  position: relative;
  border-bottom: 1px solid $white;
  padding: 0 $leftBumper;

  &.property {
    height: 10em;
    margin: 0.67em 0;
  }
}

.listing-main {
  text-align: center;

  .name {
    padding: 2em 0;
    @extend .uppsercase-or-num;
    @extend .ellipsize;
    color: white;
    font-size: 1.5me;
  }
}

.listing-footer {
  width: 100%;
  background: $translucentAqua;
  height: 2.5em;

  position: absolute;
  bottom: 0;
  left: 0;
}

.left-listing {
  color: $grey;
  font-size: inherit;

  .name {
    @extend .ellipsize;
    font-size: 1.5em;
    padding: 0.5em 0px 0.25em;
    color: $prime;
    width: 90%;

    a {
      color: $prime;
    }
  }

  &.distance {
    width: 80%;
    text-align: left;
    color: white;
    font-size: 1em;
    padding: 0.5em $leftBumper;
  }
}

.right-listing {
  position: absolute;
  right: 0.5em;
  top: 2em;

  img {
    width: 2em;
    height: 2em;
  }
}


.circled {
  margin: 5px;
  padding: 0px 4px;

  display: inline-block;

  border-width: 1px;
  border-color: $grey;
  border-style: solid;
  border-radius: 4px;
  height: 1.5em;
}