$nav-margin: 30px;

.nav {
  width: 70%;
  left: -70%;
  position: fixed;
  height:100%;
  background-color: $menuGrey;
  padding: 0px;
  box-shadow: -1.5px 1.5px 1.5px #ddd;

  font-size: 18px;
  font-weight: bold;
  color: $white;

  overflow-y: scroll;
  overflow-x: hidden;

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;

    li {
      line-height: 40px;
      margin-left: $nav-margin;
    }
  }

  .icon {
    margin-right: 7.5px;
    height: 15px;
    width: 15px;
  }
}

.nav.visible {
  left: 0px;
}

.left {
  left: 70%;
}

.avatar {
  text-align: center;
  padding: 20px;
  margin-top: 10px;

  img {
    height: 100px;
    width: 100px;
  }
}

.property {
  text-align: center;
}

.property-name {
  font-size: 16px;
}

.property-location {
  font-size: 10px;
  line-height: 20px;
}

.nav-spacer {
  height: 20px;
}

.small-nav-spacer {
  height: 10px;
}

.admin-header {
  font-size: 12px;
  margin-left: $nav-margin;
}

.nav,
.container {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}