//INDEX
.property-listing {
  height: 70px;
  position: relative;
  margin-left: 20px;
  padding-bottom: 1em;
  border-bottom: 1px solid $white;
}

.listing {
  color: $grey;

  .name {
    padding: 1em 0px 0.25em;
    font-size: 1.5em;

    a {
      color: $prime;
    }
  }
}

.right-listing {
  position: absolute;
  right: 2em;
  top: 2em;

  img {
    width: 30px;
    height: 30px;
  }
}

.new-property {
  @extend .uppercase-or-num;

  background-color: $prime;
  height: 100px;
  font-size: inherit;

  text-align: center;
  padding: 20px 0px;

  .new-property-button {
    margin: 10px;
    img {
      height: 30px;
      width: 30px;
    }
  }

  a {
    color: $white;
  }
}

//SETTINGS
.property-settings {
  background-color: $lightGrey;
  padding: 10px 20px;

  font-size: 1.5em;
}

.property-setting {
  min-height: 3em;
  border-bottom: 1px solid $white;
  position: relative;
  line-height: 3em;

  .title {
    float: left;
    color: $grey;
    font-size: 14px;
  }

  .setting {
    position: absolute;
    right: 0px;
    top: 0px;

    input {
      margin-right: 40px;
    }

    .editable-icon {
      top: 5px;
    }
  }

  .setting-title, .title, .setting {
    font-size: inherit;
  }

  .description {
    textarea {
      width: 90%;
      height: 60px;
      line-height: 20px;
    }
  }

  .sub-text {
    color: $subGrey;
    font-size: 0.6667em;
  }
}