@import "base";

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

html, body {
  margin: 0px;
  background-color: $white;
  font-size: 12px;
  font-color: inherit;
  font-family: "Brandon Grotesque";
  overflow-y: scroll;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

body {
  background-color: $prime;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

input,
textarea {
  border: none;
  background-color: $white;
  font-size: inherit;
  color: $lightBlue;
  padding: 0.25em 0.5em;
  height: 1.5em;
  width: 125px;
  @include border-radius(0);
}

input:focus, textarea:focus{
  outline: none;
}

button, input, textarea {
  font-family: "Brandon Grotesque";
}

.container {
  overflow-x: hidden;
  position: relative;
  left: 0;
  background-color: $white;
}


.header {
  height: $headerHeight;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;

  line-height: 50px;
  background-color: $prime;
}

.header-left {
  display: inline-block;
  float: right;
  margin: 2.5em 10px 1.5em;

  line-height: 1.5em;
  vertical-align: middle;
}

.nav-icon {
  margin: 3em $leftBumper 1.5em;
  line-height: 1.5em;
  vertical-align: middle;
  height: 1.5em;
  width: 2em;
}

.edit-button {
  padding: 0.5em 1em;
  background-color: $white;
  font-size: 1em;
  color: $prime;
}


.page-title {
  position: relative;
  height: 1.5em;
  line-height: 1.5em;
  background-color: $prime;

  color: $white;
  font-size: 2em;
  text-align: center;

  @extend .uppercase-or-num;

  span {
    float: left;
    padding-left: 10px;
    padding-top: 6px;
  }
}

.back-icon {
    position: absolute;
    position: fixed;
    background-color: $prime;
    background-size: 1em;
    height: 1em;
  }




.left {
  display: inline-block;
  float: left;
}

.right {
  display: inline-block;
  float: right;
}

.save-container {
  padding: 30px 0px;
  text-align: center;
}

.button {
  border-radius: 3px;
  background-color: $prime;
  height: 32px;
  padding: 0px 20px;

  color: $white;
  font-size: inherit;
}

.edit-app-icon {
  position: absolute;
  left: 0.4em;
  bottom: 1.8em;
  img {
    height: 20px;
    width: 20px;
  }
  /*span {
      background: rgba(0,0,0,0.7);
      padding: auto;
      }*/
}

.content {
  position: relative;
  margin-top: $headerHeight;
}

.form-validator {
  font-size: 0.8em;
  color: $prime;
}


  .ember-modal-dialog {
    
    width: 85vw;
    position: absolute fixed;
    border-radius: 1em;
    background-color: $lightestGrey;
    box-shadow: 0 0 30px #222;
    padding: 0 0 2em 0;
    margin-top: 3.5em;

    overflow: hidden;
    text-align: center;




   &.ember-modal-dialog-in-place {
      position: absolute; 
    }
    

  }

  .ember-modal-overlay.translucent {
    opacity: 0.7;
    filter: alpha(opacity=15);
    background-color: $prime;
  }

  .ember-modal-overlay {
    left: 0;
    position: absolute fixed;
    right: 0;
  }

  .highlight-image {
   box-sizing: border-box;

    img {
      max-height: 100%;
      width: 100%;
    }
  }

  .highlight-heading-modal {
    
    @extend .uppercase-or-num;
    font-size: 2em;
    line-height: 1em;
    font-weight: normal;
    color: $dark;
    margin: 0.25em $leftBumper 0.25em;
    border-bottom: 1px solid $dark;
    padding-bottom: 0.25em;
  }

  .highlight-description {
    text-align: left;
    font-size: 1.25em;
    padding: 1em 2em 2em 2em;
    overflow: scroll;

  }





@import 'properties';
@import 'property';
@import 'listpage';
@import 'nav';
@import 'menu';
@import 'flashes';
@import 'register';