@import "base";

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

html, body {
  margin: 0px;
  background-color: $prime;
  font-size: 12px;
  font-color: inherit;
  font-family: "Brandon Grotesque";
  overflow-y: scroll;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

body {
  background-color: $prime;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

input,
textarea {
  border: none;
  background-color: $white;
  font-size: inherit;
  color: $lightBlue;
  padding: 0.25em 0.5em;
  height: 1.5em;
  width: 125px;
  @include border-radius(0);
}

input:focus, textarea:focus{
  outline: none;
}

button, input, textarea {
  font-family: "Brandon Grotesque";
}

.container {
  overflow-x: hidden;
  position: relative;
  left: 0;
}


.header {
  height: $headerHeight;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;

  line-height: 50px;
  background-color: $prime;
}

.header-left {
  display: inline-block;
  float: right;
  margin: 2.5em 10px 1.5em;

  line-height: 1.5em;
  vertical-align: middle;
}

.nav-icon {
  margin: 3em $leftBumper 1.5em;
  line-height: 1.5em;
  vertical-align: middle;
  height: 1.5em;
  width: 2em;
}

.edit-button {
  padding: 0.5em 1em;
  background-color: $white;
  font-size: 1em;
  color: $prime;
}

.container {
  background-color: $lightestGrey;
}

.page-title {
  position: relative;
  height: 1.5em;
  line-height: 1.5em;
  background-color: $prime;

  color: $white;
  font-size: 2em;
  text-align: center;

  @extend .uppercase-or-num;

  span {
    float: left;
    padding-left: 10px;
    padding-top: 6px;
  }
}

.back-icon {
    position: absolute;
    position: fixed;
    background-color: $prime;
    background-size: 1em;
    height: 1em;
  }




.left {
  display: inline-block;
  float: left;
}

.right {
  display: inline-block;
  float: right;
}

.save-container {
  padding: 30px 0px;
  text-align: center;
}

.button {
  border-radius: 3px;
  background-color: $prime;
  height: 32px;
  padding: 0px 20px;

  color: $white;
  font-size: inherit;
}

.edit-app-icon {
  position: absolute;
  left: 0.4em;
  bottom: 1.8em;
  img {
    height: 20px;
    width: 20px;
  }
  /*span {
      background: rgba(0,0,0,0.7);
      padding: auto;
      }*/
}

.content {
  position: relative;
  margin-top: $headerHeight;
}

.form-validator {
  font-size: 0.8em;
  color: $subGrey;
}

.ember-modal-dialog {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px #222;
  padding: 10em;
}
.ember-modal-overlay.translucent {
  opacity: 0.77;
  filter: alpha(opacity=15);
  background-color: #808080;
}

.ember-modal-overlay {
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
}
.ember-modal-dialog {
  z-index: 50;
  position: fixed;

  &.ember-modal-dialog-in-place {
    position: relative;
  }
}

@import 'properties';
@import 'property';
@import 'listpage';
@import 'nav';
@import 'menu';
@import 'flashes';