<div class="container">
{{#each property in model}}
	<div class="property-listing">
    <div class="listing">
      <div class="name">
				{{#link-to 'properties.edit' property.id}}{{property.name}} - $ {{property.price}} {{/link-to}}<br />
			</div>
			375 King St West, Toronto, ON
		</div>

		<div class="remove-property">
      X
    </div>
  </div>
	{{/each}}
</div>

<div class="new-property">
	{{#link-to 'properties.new'}}
		Add New Property
		<div class="new-button">
			+
		</div>
	{{/link-to}}
</div>