<div class="container">
{{#each property in model}}
	<div class="property-listing">
		<div class="right-listing">
			X
		</div>
    <div class="listing">
      <div class="name">
				{{#link-to 'property.edit' property.id}}{{property.address}} - $ {{property.price}} {{/link-to}}<br />
			</div>
			{{property.agent}}
		</div>
  </div>
	{{/each}}
</div>

<div class="new-property">
	{{#link-to 'properties.new'}}
		Add New Property
		<div class="new-button">
			+
		</div>
	{{/link-to}}
</div>