<div class="page-title">
	Properties
</div>

<div class="container">
{{#each property in model}}
	<div class="property-listing">
		<div class="right-listing">
			<img src="img/delete-icon.png">
		</div>
    <div class="listing">
      <div class="name">
				{{#link-to 'property.show' property.id}}{{property.address}} - $ {{property.price}} {{/link-to}}<br />
				{{property.agent}}
				{{#link-to 'property.edit' property.id}}Edit Shortcut{{/link-to}}
			</div>
			
		</div>
  </div>
	{{/each}}
</div>

<div class="new-property">
	{{#link-to 'properties.new'}}
		ADD NEW PROPERTY
		<div class="new-property-button">
			<img src="img/new-property-icon.png">
		</div>
	{{/link-to}}
</div>