<div class="app-card highlight-card" style={{option.style}}>
  <div class="edit-app-icon">
    {{#link-to 'option.edit' option.id}}
      <img src="img/edit-icon.png">
    {{/link-to}}
  </div>

  <div class="highlight-content">
    <div class="highlight-title">
      {{highlight.name}}
    </div>

  </div>
</div>