{{#link-to 'beacons.new'}}NEW BEACON{{/link-to}}

<div class="container beacons-index">
  {{#each beacon in model}}
  <div class="beacon-listing">

    <div class="right-listing">
      {{#link-to 'micro_apps.new'}} + {{/link-to}}
    </div>

    <div class="listing">
      <div class="name">
        {{beacon.name}}
        {{#link-to 'beacon.edit' beacon.id}} Edit {{/link-to}}
      </div>
      <div> {{beacon.service_id}} </div>

      <!-- Micro Apps -->
      {{#each microapp in beacon.micro_apps}}
        <div class="microapp">
          {{#link-to 'micro_app.edit' microapp.id}}{{microapp.name}}{{/link-to}}
        </div>
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>