<div class="app-card highlight-card" style={{highlight.style}}>
	<div class="edit-app-icon">
		{{#link-to 'highlight.edit' highlight.id}}
			<img src="edit-icon.png">
		{{/link-to}}
	</div>

  <div class="highlight-content">
    <div class="highlight-title">
      {{highlight.name}}
    </div>

    <div class="highlight-subtitle">
      {{highlight.sub_heading}}
    </div>

  </div>
</div>