<div class="property-profile" style={{model.style}}>

    <div class="property-hero-title">
      <span>
        {{#link-to 'properties.property.index' model.id classNames="name"}}{{model.address}}{{/link-to}}
      </span>

        <div class="property-subheading">
           <span>Toronto, On</span>
           <span> M2L 2G8</span>
        </div>
    </div>
  </div>

<div class="property-show property-details">

  {{partial 'properties/property/hero-header'}}
  {{partial 'partials/map-view'}}
</div>
