<div class="property-hero">
 
    <div class="property-contact">
      <span class="detail left">
        {{#view 'tel-link'}}
          {{model.phone}}
        {{/view}}
      </span>

      <span class="detail right">
        <a class="external" target="_blank" href="{{unbound model.website}}">Visit website</a>
      </span>
    </div>

  </div>
