<div class="admin-header">
	MANAGE:
</div>

<ul>
	{{#each item in controllers.admin-navigation.model}}
		<li>
	  	<img class="icon" {{bind-attr src=item.icon}}>
	  		{{#link-to item.route}}{{item.title}}{{/link-to}}
	  </li>
	{{/each}}
</ul>

<div class="small-nav-spacer"></div>