{{!class left is when true and then container when false}}
<div {{bind-attr class="controller.navVisible:left:container"}}>

  <div class="header">
    <button {{action 'toggleNav'}}> Toggle Nav </button>
  </div>

  {{render 'navigation'}}

  {{outlet}}

</div>