<div class="header">
	<img src="img/nav-icon.png" class="nav-icon" {{action 'toggleNav'}}>
</div>

{{render 'navigation'}}
	<div class="container">
	<div class="content">
		{{render 'content-overlay' controller="application"}}
  	{{liquid-outlet}}
  </div>

</div>