{{!class left is when true and then container when false}}
<div {{bind-attr class="controller.navVisible:left:container"}}>

  <div class="header">
    <img src="nav-icon.png" class="nav-icon" {{action 'toggleNav'}}>
  </div>

  {{render 'navigation'}}

  {{outlet}}

</div>