<div {{bind-attr class="controllers.application.navVisible:visible:nav"}}>

  <img src="avatar.png">

{{title}}

	<ul class="left">
		{{#each item in model}}
		  <li>{{#link-to item.route}}{{item.title}}{{/link-to}}</li>
		{{/each}}
	</ul>
</div>